.oq.roll {
  .roll-title {
    .header-font();
    color: @dark-color;
    font-size: var(--font-size-18);
    font-weight: bold;
    grid-column-start: span 2;
  }

  .roll-subtitle {
    .header-font();
    color: @dark-color;
    font-size: var(--font-size-14);
    font-weight: bold;
    grid-column-start: span 2;
  }

  .roll-img {
    width: 64px;
    height: 64px;
    border: 0;
    flex: 0;
  }

  .label {
    font-weight: bold;
    text-wrap: none;
  }

  .roll-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5em;
    margin-bottom: 0.5em;

    .roll-header-container {
      display: grid;
      grid-template-columns: 1fr 1.2fr;
      row-gap: 0.5em;
      font-size: var(--font-size-12);
      flex: 1;
    }
  }

  .roll-result {
    font-size: var(--font-size-20);
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 0.5em;

    &.roll-result-success {
      color: @distinction-color;
    }

    &.roll-result-fumble {
      color: @base-color;
      background-color: @dark-color;
    }

    &.roll-result-criticalSuccess {
      background-color: @distinction-color;
      color: @base-color;
    }

    &.roll-result-failure {
      color: @dark-color;
    }
  }

  &.characteristics-roll {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.2em;

    .chat-label {
      .header-font();
      font-weight: bold;
      font-size: var(--font-size-18);
      color: @dark-color;
    }
  }

  .roll-buttons {
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
    flex: 0;

    .buttons-group {
      display: flex;
      flex-direction: row;
      gap: 0.2em;
    }

    button {
      flex: 0;
      white-space: nowrap;
    }
  }
}
