.oq.sheet.item {
  .item-sheet {
    .short-name {
      user-select: text;
    }

    .sheet-content {
      display: flex;
      flex: 1;
      flex-direction: column;

      .item-details {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 5px;
        align-items: start;
        flex: 0;

        .input-with-checkbox {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1em;

          .damage {
            flex: 1;
          }

          label {
            white-space: nowrap;
          }
        }

        .skill-reference {
          display: flex;
          flex-direction: row;
          gap: 1em;
          align-items: center;

          .skill-reference-slug {
            flex: 2;
          }

          .skill-reference-modlabel {
            white-space: nowrap;
            flex: 0;
          }

          .skill-reference-mod {
            flex: 1;
            text-align: center;
          }
        }

        input[type='checkbox'] {
          width: 1em;
        }

        .spell-traits {
          //  for future use
        }
      }

      .description-container {
        flex: 1;
        min-height: 16em;
        display: flex;

        .editor {
          flex: 1;
        }
      }
    }
  }
}
