.oq.sheet {
  .actor-sheet {
    display: flex;
    flex-direction: column;

    .sheet-header {
      flex: 0;

      .header-fields {
        flex: 1;

        input {
          border-bottom: 1px solid @base-color-transparent;
          background: none;
        }
      }

      .profile-img {
        flex: 0;
        border-color: @base-color;
        width: 128px;
        height: 128px;
      }
    }

    .sheet-body {
      display: flex;
      flex-direction: row;
      flex-grow: 0;
      gap: 1em;

      .characteristics {
        display: flex;
        justify-items: flex-start;
        flex-direction: column;
        flex: 3;

        & > div {
          flex-grow: 1;
        }
      }

      .attributes {
        flex: 2;
        display: flex;
        flex-direction: column;

        .attributes-grid {
          flex-grow: 0;
          display: grid;
          grid-template-columns: 2fr 4fr 2fr 4fr 1fr;
          gap: 10px;
          align-items: end;

          .wide {
            grid-column: span 4;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          }
        }
      }

      .value {
        justify-self: start;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        font-size: 18px;

        input {
          border: 0;
          border-bottom: 1px solid;
          max-width: 2em;
          text-align: center;
        }
      }
    }

    .sheet-content {
      align-content: flex-start;

      .tab[data-tab].active {
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
      }

      .editor {
        color: var(--color-text-dark-primary);
      }

      .items {
        gap: 1em;
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        //flex-direction: row;
        //flex-wrap: wrap;

        .item-group {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          min-width: 25em;
          border: 0;
          gap: 0.2em;
          flex: 1 1 0;

          .item {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            flex-grow: 0;
            flex-shrink: 1;
            align-items: center;
            justify-items: flex-start;
            min-height: @item-row-height;
            height: @item-row-height;
            gap: 0.5em;

            .item-roll {
              flex: 1;
            }

            .item-to-chat {
              flex-grow: 0;
              flex-shrink: 0;
              flex-basis: 16px;
            }

            .item-name {
              flex: 1;
              padding-right: 1em;
              white-space: nowrap;
            }

            .damage-roll {
              flex: 0;
              white-space: nowrap;
              padding-left: 1em;
            }

            .mod-value {
              width: 2em;
              border: 0;
              text-align: center;
              font-size: var(--font-size-14);
            }

            .total-value {
              flex-grow: 0;
              min-width: 5em;
              white-space: nowrap;
              text-align: right;
            }

            .short-value {
              flex: 0;
              min-width: 2em;
              text-align: right;
              white-space: nowrap;
            }

            .cost-value {
              flex: 0;
              min-width: 5em;
              text-align: right;
              white-space: nowrap;
            }

            .item-state:hover {
              text-shadow: none;
            }

            .item-quantity {
              display: flex;
              flex: 0;
              padding-left: 1em;
              padding-right: 1em;
              align-items: center;

              .item-quantity-value {
                min-width: 2em;
                text-align: center;
                margin-left: 0.2em;
                margin-right: 0.2em;
                border: 0;
                font-size: var(--font-size-14);
              }
            }
          }

          .item:hover {
            background-color: rgba(0, 0, 0, 0.05);
          }
        }
      }
    }
  }
}
