.oq.sheet {
  .character-sheet {
    .sheet-body {
      .value {
        input {
          border-bottom-color: @dark-color;
        }
      }

      .modify-attributes {
        justify-self: center;
        align-self: start;
        grid-row-end: span 3;
      }
    }

    .sheet-content {
      .notes {
        flex-grow: 1;
        align-self: normal;

        .editor {
          flex-grow: 1;
        }
      }

      .items {
        .item-group {
          .skill {
            //Empty for now
          }
        }

        .top-row-item {
          grid-column-end: span 2;
          padding-left: 1em;
          display: flex;
          flex-direction: row;
          gap: 1em;
          align-items: center;

          .short-input {
            width: 2em;
          }
        }
      }

      .items.equipment {
        flex-direction: column;
      }
    }
  }
}
