<div class="items">
  {{#if system.groupedItems.groupedSkills.magic}}
    <div class="item-group">
      <label>{{ localize 'OQ.SkillGroups.magic'}}</label>
      {{#each system.groupedItems.groupedSkills.magic as |skill|}}
        {{> systems/oq/templates/actor/parts/skill.hbs skill}}
      {{/each}}
    </div>
  {{/if}}
  {{#if system.groupedItems.groupedSkills.resistance}}
    <div class="item-group">
      <label>{{ localize 'OQ.SkillGroups.resistance'}}</label>
      {{#each system.groupedItems.groupedSkills.resistance as |skill|}}
        {{> systems/oq/templates/actor/parts/skill.hbs skill}}
      {{/each}}
    </div>
  {{/if}}
  {{#each spellsPerType as |spellGroup groupKey|}}
    <div class="item-group">
      <label>{{ localize (concat 'OQ.Labels.SpellTypes.' groupKey) }}</label>
      {{#each spellGroup as |spell|}}
        {{> systems/oq/templates/actor/parts/spell.hbs spell}}
      {{/each}}
    </div>
  {{/each}}
  {{#if system.groupedItems.magicAbilities}}
    <div class="item-group">
      <label>{{ localize 'OQ.Labels.SpecialAbilities'}}</label>
      {{#each system.groupedItems.magicAbilities as |ability|}}
        {{> systems/oq/templates/actor/parts/ability.hbs ability}}
      {{/each}}
    </div>
  {{/if}}
</div>
