<div class="items">
  {{#each system.groupedSkills as |skills groupKey|}}
    <fieldset class="item-group">
      <legend>{{ localize groupKey}}</legend>
      {{#each skills as |skill|}}
        {{> systems/oq/templates/actor/parts/skill-ability-row.hbs skill}}
      {{/each}}
    </fieldset>
  {{/each}}
</div>
