.combat-sidebar {
  .combat-tracker {
    .oq-token-name-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
    }

    .oq-token-name {
      flex: 0 1 auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .initiative-name {
      color: var(--color-text-secondary);
      flex: 0 1 auto;
      font-size: var(--font-size-12);
      overflow: hidden;
      white-space: nowrap;
      text-align: right;
      margin-left: 2px;
    }
  }
}
