<form class="{{cssClass}} {{type}} dialog-form" autocomplete="off">
  <section class="dialog-body short-description">
    {{editor enrichedDescription target="system.personal.shortDescription"
             engine="prosemirror"
             editable=true
             collaborate=false}}
  </section>
</form>