<form class="{{cssClass}} {{type}}" autocomplete="off">
  <section class="dialog-body short-description">
    {{editor shortDescription target="system.shortDescription" id="shortDescription"
             engine="prosemirror"
             button=true editable=true}}
  </section>
</form>