<div class="oq chat-item">
  <div class="item-header">
    {{#if img}}
      <img class="item-image" src="{{ img }}">
    {{/if}}
    <div class="item-header-container">
      <div class="item-title">{{ name }}</div>
    </div>
  </div>
  <div class="item-body">
    <div class="item-description"> {{ system.description }}git </div>
  </div>
</div>
